.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

html { 
  background: url('../img/background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.cardPicture{
    height:100%;
    width:100%;
}